@charset "utf-8";
@import '../../src/scss/reset/reset.scss';
body {
  padding: 20px;
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
  button {
    padding: 4px 20px;
    border: none;
    background: #00adee;
    color: #fff;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
}