.fe-tooltip {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .fe-tooltip *,
  .fe-tooltip *:before,
  .fe-tooltip *:after {
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit; }

.fe-tooltip {
  position: absolute;
  max-width: 300px;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
  opacity: 1; }
  .fe-tooltip i {
    font-size: 0px;
    line-height: 0px;
    position: absolute; }
  .fe-tooltip.tooltip-location-left {
    left: 0; }
  .fe-tooltip.tooltip-location-center {
    left: 50%; }
  .fe-tooltip.tooltip-location-right {
    right: 0; }
  .fe-tooltip.tooltip-location-top {
    top: 0; }
  .fe-tooltip.tooltip-location-middle {
    top: 50%; }
  .fe-tooltip.tooltip-location-bottom {
    bottom: 0; }
  .fe-tooltip.tooltip-solid {
    color: #fff; }
    .fe-tooltip.tooltip-solid.tooltip-default {
      background: #999; }
      .fe-tooltip.tooltip-solid.tooltip-default.tooltip-top i {
        left: 50%;
        margin-left: -5px;
        bottom: -5px; }
        .fe-tooltip.tooltip-solid.tooltip-default.tooltip-top i:before {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          border-width: 5px;
          vertical-align: middle; }
        .fe-tooltip.tooltip-solid.tooltip-default.tooltip-top i:before {
          border-bottom-width: 0px;
          border-top-color: #999; }
      .fe-tooltip.tooltip-solid.tooltip-default.tooltip-bottom i {
        left: 50%;
        margin-left: -5px;
        top: -5px; }
        .fe-tooltip.tooltip-solid.tooltip-default.tooltip-bottom i:before {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          border-width: 5px;
          vertical-align: middle; }
        .fe-tooltip.tooltip-solid.tooltip-default.tooltip-bottom i:before {
          border-top-width: 0px;
          border-bottom-color: #999; }
      .fe-tooltip.tooltip-solid.tooltip-default.tooltip-left i {
        top: 50%;
        margin-top: -5px;
        right: -5px; }
        .fe-tooltip.tooltip-solid.tooltip-default.tooltip-left i:before {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          border-width: 5px;
          vertical-align: middle; }
        .fe-tooltip.tooltip-solid.tooltip-default.tooltip-left i:before {
          border-right-width: 0px;
          border-left-color: #999; }
      .fe-tooltip.tooltip-solid.tooltip-default.tooltip-right i {
        top: 50%;
        margin-top: -5px;
        left: -5px; }
        .fe-tooltip.tooltip-solid.tooltip-default.tooltip-right i:before {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          border-width: 5px;
          vertical-align: middle; }
        .fe-tooltip.tooltip-solid.tooltip-default.tooltip-right i:before {
          border-left-width: 0px;
          border-right-color: #999; }
    .fe-tooltip.tooltip-solid.tooltip-success {
      background: #5cb85c; }
      .fe-tooltip.tooltip-solid.tooltip-success.tooltip-top i {
        left: 50%;
        margin-left: -5px;
        bottom: -5px; }
        .fe-tooltip.tooltip-solid.tooltip-success.tooltip-top i:before {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          border-width: 5px;
          vertical-align: middle; }
        .fe-tooltip.tooltip-solid.tooltip-success.tooltip-top i:before {
          border-bottom-width: 0px;
          border-top-color: #5cb85c; }
      .fe-tooltip.tooltip-solid.tooltip-success.tooltip-bottom i {
        left: 50%;
        margin-left: -5px;
        top: -5px; }
        .fe-tooltip.tooltip-solid.tooltip-success.tooltip-bottom i:before {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          border-width: 5px;
          vertical-align: middle; }
        .fe-tooltip.tooltip-solid.tooltip-success.tooltip-bottom i:before {
          border-top-width: 0px;
          border-bottom-color: #5cb85c; }
      .fe-tooltip.tooltip-solid.tooltip-success.tooltip-left i {
        top: 50%;
        margin-top: -5px;
        right: -5px; }
        .fe-tooltip.tooltip-solid.tooltip-success.tooltip-left i:before {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          border-width: 5px;
          vertical-align: middle; }
        .fe-tooltip.tooltip-solid.tooltip-success.tooltip-left i:before {
          border-right-width: 0px;
          border-left-color: #5cb85c; }
      .fe-tooltip.tooltip-solid.tooltip-success.tooltip-right i {
        top: 50%;
        margin-top: -5px;
        left: -5px; }
        .fe-tooltip.tooltip-solid.tooltip-success.tooltip-right i:before {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          border-width: 5px;
          vertical-align: middle; }
        .fe-tooltip.tooltip-solid.tooltip-success.tooltip-right i:before {
          border-left-width: 0px;
          border-right-color: #5cb85c; }
    .fe-tooltip.tooltip-solid.tooltip-error {
      background: #d9534f; }
      .fe-tooltip.tooltip-solid.tooltip-error.tooltip-top i {
        left: 50%;
        margin-left: -5px;
        bottom: -5px; }
        .fe-tooltip.tooltip-solid.tooltip-error.tooltip-top i:before {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          border-width: 5px;
          vertical-align: middle; }
        .fe-tooltip.tooltip-solid.tooltip-error.tooltip-top i:before {
          border-bottom-width: 0px;
          border-top-color: #d9534f; }
      .fe-tooltip.tooltip-solid.tooltip-error.tooltip-bottom i {
        left: 50%;
        margin-left: -5px;
        top: -5px; }
        .fe-tooltip.tooltip-solid.tooltip-error.tooltip-bottom i:before {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          border-width: 5px;
          vertical-align: middle; }
        .fe-tooltip.tooltip-solid.tooltip-error.tooltip-bottom i:before {
          border-top-width: 0px;
          border-bottom-color: #d9534f; }
      .fe-tooltip.tooltip-solid.tooltip-error.tooltip-left i {
        top: 50%;
        margin-top: -5px;
        right: -5px; }
        .fe-tooltip.tooltip-solid.tooltip-error.tooltip-left i:before {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          border-width: 5px;
          vertical-align: middle; }
        .fe-tooltip.tooltip-solid.tooltip-error.tooltip-left i:before {
          border-right-width: 0px;
          border-left-color: #d9534f; }
      .fe-tooltip.tooltip-solid.tooltip-error.tooltip-right i {
        top: 50%;
        margin-top: -5px;
        left: -5px; }
        .fe-tooltip.tooltip-solid.tooltip-error.tooltip-right i:before {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          border-width: 5px;
          vertical-align: middle; }
        .fe-tooltip.tooltip-solid.tooltip-error.tooltip-right i:before {
          border-left-width: 0px;
          border-right-color: #d9534f; }
    .fe-tooltip.tooltip-solid.tooltip-wraning {
      background: #ec971f; }
      .fe-tooltip.tooltip-solid.tooltip-wraning.tooltip-top i {
        left: 50%;
        margin-left: -5px;
        bottom: -5px; }
        .fe-tooltip.tooltip-solid.tooltip-wraning.tooltip-top i:before {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          border-width: 5px;
          vertical-align: middle; }
        .fe-tooltip.tooltip-solid.tooltip-wraning.tooltip-top i:before {
          border-bottom-width: 0px;
          border-top-color: #ec971f; }
      .fe-tooltip.tooltip-solid.tooltip-wraning.tooltip-bottom i {
        left: 50%;
        margin-left: -5px;
        top: -5px; }
        .fe-tooltip.tooltip-solid.tooltip-wraning.tooltip-bottom i:before {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          border-width: 5px;
          vertical-align: middle; }
        .fe-tooltip.tooltip-solid.tooltip-wraning.tooltip-bottom i:before {
          border-top-width: 0px;
          border-bottom-color: #ec971f; }
      .fe-tooltip.tooltip-solid.tooltip-wraning.tooltip-left i {
        top: 50%;
        margin-top: -5px;
        right: -5px; }
        .fe-tooltip.tooltip-solid.tooltip-wraning.tooltip-left i:before {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          border-width: 5px;
          vertical-align: middle; }
        .fe-tooltip.tooltip-solid.tooltip-wraning.tooltip-left i:before {
          border-right-width: 0px;
          border-left-color: #ec971f; }
      .fe-tooltip.tooltip-solid.tooltip-wraning.tooltip-right i {
        top: 50%;
        margin-top: -5px;
        left: -5px; }
        .fe-tooltip.tooltip-solid.tooltip-wraning.tooltip-right i:before {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          border-width: 5px;
          vertical-align: middle; }
        .fe-tooltip.tooltip-solid.tooltip-wraning.tooltip-right i:before {
          border-left-width: 0px;
          border-right-color: #ec971f; }
    .fe-tooltip.tooltip-solid.tooltip-primary {
      background: #337ab7; }
      .fe-tooltip.tooltip-solid.tooltip-primary.tooltip-top i {
        left: 50%;
        margin-left: -5px;
        bottom: -5px; }
        .fe-tooltip.tooltip-solid.tooltip-primary.tooltip-top i:before {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          border-width: 5px;
          vertical-align: middle; }
        .fe-tooltip.tooltip-solid.tooltip-primary.tooltip-top i:before {
          border-bottom-width: 0px;
          border-top-color: #337ab7; }
      .fe-tooltip.tooltip-solid.tooltip-primary.tooltip-bottom i {
        left: 50%;
        margin-left: -5px;
        top: -5px; }
        .fe-tooltip.tooltip-solid.tooltip-primary.tooltip-bottom i:before {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          border-width: 5px;
          vertical-align: middle; }
        .fe-tooltip.tooltip-solid.tooltip-primary.tooltip-bottom i:before {
          border-top-width: 0px;
          border-bottom-color: #337ab7; }
      .fe-tooltip.tooltip-solid.tooltip-primary.tooltip-left i {
        top: 50%;
        margin-top: -5px;
        right: -5px; }
        .fe-tooltip.tooltip-solid.tooltip-primary.tooltip-left i:before {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          border-width: 5px;
          vertical-align: middle; }
        .fe-tooltip.tooltip-solid.tooltip-primary.tooltip-left i:before {
          border-right-width: 0px;
          border-left-color: #337ab7; }
      .fe-tooltip.tooltip-solid.tooltip-primary.tooltip-right i {
        top: 50%;
        margin-top: -5px;
        left: -5px; }
        .fe-tooltip.tooltip-solid.tooltip-primary.tooltip-right i:before {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          border-width: 5px;
          vertical-align: middle; }
        .fe-tooltip.tooltip-solid.tooltip-primary.tooltip-right i:before {
          border-left-width: 0px;
          border-right-color: #337ab7; }
    .fe-tooltip.tooltip-solid.tooltip-info {
      background: #5bc0de; }
      .fe-tooltip.tooltip-solid.tooltip-info.tooltip-top i {
        left: 50%;
        margin-left: -5px;
        bottom: -5px; }
        .fe-tooltip.tooltip-solid.tooltip-info.tooltip-top i:before {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          border-width: 5px;
          vertical-align: middle; }
        .fe-tooltip.tooltip-solid.tooltip-info.tooltip-top i:before {
          border-bottom-width: 0px;
          border-top-color: #5bc0de; }
      .fe-tooltip.tooltip-solid.tooltip-info.tooltip-bottom i {
        left: 50%;
        margin-left: -5px;
        top: -5px; }
        .fe-tooltip.tooltip-solid.tooltip-info.tooltip-bottom i:before {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          border-width: 5px;
          vertical-align: middle; }
        .fe-tooltip.tooltip-solid.tooltip-info.tooltip-bottom i:before {
          border-top-width: 0px;
          border-bottom-color: #5bc0de; }
      .fe-tooltip.tooltip-solid.tooltip-info.tooltip-left i {
        top: 50%;
        margin-top: -5px;
        right: -5px; }
        .fe-tooltip.tooltip-solid.tooltip-info.tooltip-left i:before {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          border-width: 5px;
          vertical-align: middle; }
        .fe-tooltip.tooltip-solid.tooltip-info.tooltip-left i:before {
          border-right-width: 0px;
          border-left-color: #5bc0de; }
      .fe-tooltip.tooltip-solid.tooltip-info.tooltip-right i {
        top: 50%;
        margin-top: -5px;
        left: -5px; }
        .fe-tooltip.tooltip-solid.tooltip-info.tooltip-right i:before {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          border-width: 5px;
          vertical-align: middle; }
        .fe-tooltip.tooltip-solid.tooltip-info.tooltip-right i:before {
          border-left-width: 0px;
          border-right-color: #5bc0de; }
  .fe-tooltip.tooltip-hollow {
    background: #fff; }
    .fe-tooltip.tooltip-hollow.tooltip-default {
      border: 1px solid #999;
      color: #999; }
      .fe-tooltip.tooltip-hollow.tooltip-default.tooltip-top i {
        left: 50%;
        margin-left: -6px;
        bottom: -6px; }
        .fe-tooltip.tooltip-hollow.tooltip-default.tooltip-top i:before, .fe-tooltip.tooltip-hollow.tooltip-default.tooltip-top i:after {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          vertical-align: middle; }
        .fe-tooltip.tooltip-hollow.tooltip-default.tooltip-top i:before {
          border-width: 6px; }
        .fe-tooltip.tooltip-hollow.tooltip-default.tooltip-top i:after {
          border-width: 5px; }
        .fe-tooltip.tooltip-hollow.tooltip-default.tooltip-top i:before {
          border-top-color: #999;
          border-bottom-width: 0; }
        .fe-tooltip.tooltip-hollow.tooltip-default.tooltip-top i:after {
          margin-left: -11px;
          margin-top: -1px;
          border-top-color: #fff;
          border-bottom-width: 0; }
      .fe-tooltip.tooltip-hollow.tooltip-default.tooltip-bottom i {
        left: 50%;
        margin-left: -6px;
        top: -6px; }
        .fe-tooltip.tooltip-hollow.tooltip-default.tooltip-bottom i:before, .fe-tooltip.tooltip-hollow.tooltip-default.tooltip-bottom i:after {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          vertical-align: middle; }
        .fe-tooltip.tooltip-hollow.tooltip-default.tooltip-bottom i:before {
          border-width: 6px; }
        .fe-tooltip.tooltip-hollow.tooltip-default.tooltip-bottom i:after {
          border-width: 5px; }
        .fe-tooltip.tooltip-hollow.tooltip-default.tooltip-bottom i:before {
          border-bottom-color: #999;
          border-top-width: 0; }
        .fe-tooltip.tooltip-hollow.tooltip-default.tooltip-bottom i:after {
          margin-left: -11px;
          margin-top: 1px;
          border-bottom-color: #fff;
          border-top-width: 0; }
      .fe-tooltip.tooltip-hollow.tooltip-default.tooltip-left i {
        top: 50%;
        margin-top: -6px;
        right: -5px; }
        .fe-tooltip.tooltip-hollow.tooltip-default.tooltip-left i:before, .fe-tooltip.tooltip-hollow.tooltip-default.tooltip-left i:after {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          vertical-align: middle; }
        .fe-tooltip.tooltip-hollow.tooltip-default.tooltip-left i:before {
          border-width: 6px; }
        .fe-tooltip.tooltip-hollow.tooltip-default.tooltip-left i:after {
          border-width: 5px; }
        .fe-tooltip.tooltip-hollow.tooltip-default.tooltip-left i:before {
          border-left-color: #999;
          border-right-width: 0; }
        .fe-tooltip.tooltip-hollow.tooltip-default.tooltip-left i:after {
          margin-left: -6px;
          border-left-color: #fff;
          border-right-width: 0; }
      .fe-tooltip.tooltip-hollow.tooltip-default.tooltip-right i {
        top: 50%;
        margin-top: -6px;
        left: -6px; }
        .fe-tooltip.tooltip-hollow.tooltip-default.tooltip-right i:before, .fe-tooltip.tooltip-hollow.tooltip-default.tooltip-right i:after {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          vertical-align: middle; }
        .fe-tooltip.tooltip-hollow.tooltip-default.tooltip-right i:before {
          border-width: 6px; }
        .fe-tooltip.tooltip-hollow.tooltip-default.tooltip-right i:after {
          border-width: 5px; }
        .fe-tooltip.tooltip-hollow.tooltip-default.tooltip-right i:before {
          border-right-color: #999;
          border-left-width: 0; }
        .fe-tooltip.tooltip-hollow.tooltip-default.tooltip-right i:after {
          margin-left: -5px;
          border-right-color: #fff;
          border-left-width: 0; }
    .fe-tooltip.tooltip-hollow.tooltip-success {
      border: 1px solid #5cb85c;
      color: #5cb85c; }
      .fe-tooltip.tooltip-hollow.tooltip-success.tooltip-top i {
        left: 50%;
        margin-left: -6px;
        bottom: -6px; }
        .fe-tooltip.tooltip-hollow.tooltip-success.tooltip-top i:before, .fe-tooltip.tooltip-hollow.tooltip-success.tooltip-top i:after {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          vertical-align: middle; }
        .fe-tooltip.tooltip-hollow.tooltip-success.tooltip-top i:before {
          border-width: 6px; }
        .fe-tooltip.tooltip-hollow.tooltip-success.tooltip-top i:after {
          border-width: 5px; }
        .fe-tooltip.tooltip-hollow.tooltip-success.tooltip-top i:before {
          border-top-color: #5cb85c;
          border-bottom-width: 0; }
        .fe-tooltip.tooltip-hollow.tooltip-success.tooltip-top i:after {
          margin-left: -11px;
          margin-top: -1px;
          border-top-color: #fff;
          border-bottom-width: 0; }
      .fe-tooltip.tooltip-hollow.tooltip-success.tooltip-bottom i {
        left: 50%;
        margin-left: -6px;
        top: -6px; }
        .fe-tooltip.tooltip-hollow.tooltip-success.tooltip-bottom i:before, .fe-tooltip.tooltip-hollow.tooltip-success.tooltip-bottom i:after {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          vertical-align: middle; }
        .fe-tooltip.tooltip-hollow.tooltip-success.tooltip-bottom i:before {
          border-width: 6px; }
        .fe-tooltip.tooltip-hollow.tooltip-success.tooltip-bottom i:after {
          border-width: 5px; }
        .fe-tooltip.tooltip-hollow.tooltip-success.tooltip-bottom i:before {
          border-bottom-color: #5cb85c;
          border-top-width: 0; }
        .fe-tooltip.tooltip-hollow.tooltip-success.tooltip-bottom i:after {
          margin-left: -11px;
          margin-top: 1px;
          border-bottom-color: #fff;
          border-top-width: 0; }
      .fe-tooltip.tooltip-hollow.tooltip-success.tooltip-left i {
        top: 50%;
        margin-top: -6px;
        right: -5px; }
        .fe-tooltip.tooltip-hollow.tooltip-success.tooltip-left i:before, .fe-tooltip.tooltip-hollow.tooltip-success.tooltip-left i:after {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          vertical-align: middle; }
        .fe-tooltip.tooltip-hollow.tooltip-success.tooltip-left i:before {
          border-width: 6px; }
        .fe-tooltip.tooltip-hollow.tooltip-success.tooltip-left i:after {
          border-width: 5px; }
        .fe-tooltip.tooltip-hollow.tooltip-success.tooltip-left i:before {
          border-left-color: #5cb85c;
          border-right-width: 0; }
        .fe-tooltip.tooltip-hollow.tooltip-success.tooltip-left i:after {
          margin-left: -6px;
          border-left-color: #fff;
          border-right-width: 0; }
      .fe-tooltip.tooltip-hollow.tooltip-success.tooltip-right i {
        top: 50%;
        margin-top: -6px;
        left: -6px; }
        .fe-tooltip.tooltip-hollow.tooltip-success.tooltip-right i:before, .fe-tooltip.tooltip-hollow.tooltip-success.tooltip-right i:after {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          vertical-align: middle; }
        .fe-tooltip.tooltip-hollow.tooltip-success.tooltip-right i:before {
          border-width: 6px; }
        .fe-tooltip.tooltip-hollow.tooltip-success.tooltip-right i:after {
          border-width: 5px; }
        .fe-tooltip.tooltip-hollow.tooltip-success.tooltip-right i:before {
          border-right-color: #5cb85c;
          border-left-width: 0; }
        .fe-tooltip.tooltip-hollow.tooltip-success.tooltip-right i:after {
          margin-left: -5px;
          border-right-color: #fff;
          border-left-width: 0; }
    .fe-tooltip.tooltip-hollow.tooltip-error {
      border: 1px solid #d9534f;
      color: #d9534f; }
      .fe-tooltip.tooltip-hollow.tooltip-error.tooltip-top i {
        left: 50%;
        margin-left: -6px;
        bottom: -6px; }
        .fe-tooltip.tooltip-hollow.tooltip-error.tooltip-top i:before, .fe-tooltip.tooltip-hollow.tooltip-error.tooltip-top i:after {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          vertical-align: middle; }
        .fe-tooltip.tooltip-hollow.tooltip-error.tooltip-top i:before {
          border-width: 6px; }
        .fe-tooltip.tooltip-hollow.tooltip-error.tooltip-top i:after {
          border-width: 5px; }
        .fe-tooltip.tooltip-hollow.tooltip-error.tooltip-top i:before {
          border-top-color: #d9534f;
          border-bottom-width: 0; }
        .fe-tooltip.tooltip-hollow.tooltip-error.tooltip-top i:after {
          margin-left: -11px;
          margin-top: -1px;
          border-top-color: #fff;
          border-bottom-width: 0; }
      .fe-tooltip.tooltip-hollow.tooltip-error.tooltip-bottom i {
        left: 50%;
        margin-left: -6px;
        top: -6px; }
        .fe-tooltip.tooltip-hollow.tooltip-error.tooltip-bottom i:before, .fe-tooltip.tooltip-hollow.tooltip-error.tooltip-bottom i:after {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          vertical-align: middle; }
        .fe-tooltip.tooltip-hollow.tooltip-error.tooltip-bottom i:before {
          border-width: 6px; }
        .fe-tooltip.tooltip-hollow.tooltip-error.tooltip-bottom i:after {
          border-width: 5px; }
        .fe-tooltip.tooltip-hollow.tooltip-error.tooltip-bottom i:before {
          border-bottom-color: #d9534f;
          border-top-width: 0; }
        .fe-tooltip.tooltip-hollow.tooltip-error.tooltip-bottom i:after {
          margin-left: -11px;
          margin-top: 1px;
          border-bottom-color: #fff;
          border-top-width: 0; }
      .fe-tooltip.tooltip-hollow.tooltip-error.tooltip-left i {
        top: 50%;
        margin-top: -6px;
        right: -5px; }
        .fe-tooltip.tooltip-hollow.tooltip-error.tooltip-left i:before, .fe-tooltip.tooltip-hollow.tooltip-error.tooltip-left i:after {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          vertical-align: middle; }
        .fe-tooltip.tooltip-hollow.tooltip-error.tooltip-left i:before {
          border-width: 6px; }
        .fe-tooltip.tooltip-hollow.tooltip-error.tooltip-left i:after {
          border-width: 5px; }
        .fe-tooltip.tooltip-hollow.tooltip-error.tooltip-left i:before {
          border-left-color: #d9534f;
          border-right-width: 0; }
        .fe-tooltip.tooltip-hollow.tooltip-error.tooltip-left i:after {
          margin-left: -6px;
          border-left-color: #fff;
          border-right-width: 0; }
      .fe-tooltip.tooltip-hollow.tooltip-error.tooltip-right i {
        top: 50%;
        margin-top: -6px;
        left: -6px; }
        .fe-tooltip.tooltip-hollow.tooltip-error.tooltip-right i:before, .fe-tooltip.tooltip-hollow.tooltip-error.tooltip-right i:after {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          vertical-align: middle; }
        .fe-tooltip.tooltip-hollow.tooltip-error.tooltip-right i:before {
          border-width: 6px; }
        .fe-tooltip.tooltip-hollow.tooltip-error.tooltip-right i:after {
          border-width: 5px; }
        .fe-tooltip.tooltip-hollow.tooltip-error.tooltip-right i:before {
          border-right-color: #d9534f;
          border-left-width: 0; }
        .fe-tooltip.tooltip-hollow.tooltip-error.tooltip-right i:after {
          margin-left: -5px;
          border-right-color: #fff;
          border-left-width: 0; }
    .fe-tooltip.tooltip-hollow.tooltip-wraning {
      border: 1px solid #ec971f;
      color: #ec971f; }
      .fe-tooltip.tooltip-hollow.tooltip-wraning.tooltip-top i {
        left: 50%;
        margin-left: -6px;
        bottom: -6px; }
        .fe-tooltip.tooltip-hollow.tooltip-wraning.tooltip-top i:before, .fe-tooltip.tooltip-hollow.tooltip-wraning.tooltip-top i:after {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          vertical-align: middle; }
        .fe-tooltip.tooltip-hollow.tooltip-wraning.tooltip-top i:before {
          border-width: 6px; }
        .fe-tooltip.tooltip-hollow.tooltip-wraning.tooltip-top i:after {
          border-width: 5px; }
        .fe-tooltip.tooltip-hollow.tooltip-wraning.tooltip-top i:before {
          border-top-color: #ec971f;
          border-bottom-width: 0; }
        .fe-tooltip.tooltip-hollow.tooltip-wraning.tooltip-top i:after {
          margin-left: -11px;
          margin-top: -1px;
          border-top-color: #fff;
          border-bottom-width: 0; }
      .fe-tooltip.tooltip-hollow.tooltip-wraning.tooltip-bottom i {
        left: 50%;
        margin-left: -6px;
        top: -6px; }
        .fe-tooltip.tooltip-hollow.tooltip-wraning.tooltip-bottom i:before, .fe-tooltip.tooltip-hollow.tooltip-wraning.tooltip-bottom i:after {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          vertical-align: middle; }
        .fe-tooltip.tooltip-hollow.tooltip-wraning.tooltip-bottom i:before {
          border-width: 6px; }
        .fe-tooltip.tooltip-hollow.tooltip-wraning.tooltip-bottom i:after {
          border-width: 5px; }
        .fe-tooltip.tooltip-hollow.tooltip-wraning.tooltip-bottom i:before {
          border-bottom-color: #ec971f;
          border-top-width: 0; }
        .fe-tooltip.tooltip-hollow.tooltip-wraning.tooltip-bottom i:after {
          margin-left: -11px;
          margin-top: 1px;
          border-bottom-color: #fff;
          border-top-width: 0; }
      .fe-tooltip.tooltip-hollow.tooltip-wraning.tooltip-left i {
        top: 50%;
        margin-top: -6px;
        right: -5px; }
        .fe-tooltip.tooltip-hollow.tooltip-wraning.tooltip-left i:before, .fe-tooltip.tooltip-hollow.tooltip-wraning.tooltip-left i:after {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          vertical-align: middle; }
        .fe-tooltip.tooltip-hollow.tooltip-wraning.tooltip-left i:before {
          border-width: 6px; }
        .fe-tooltip.tooltip-hollow.tooltip-wraning.tooltip-left i:after {
          border-width: 5px; }
        .fe-tooltip.tooltip-hollow.tooltip-wraning.tooltip-left i:before {
          border-left-color: #ec971f;
          border-right-width: 0; }
        .fe-tooltip.tooltip-hollow.tooltip-wraning.tooltip-left i:after {
          margin-left: -6px;
          border-left-color: #fff;
          border-right-width: 0; }
      .fe-tooltip.tooltip-hollow.tooltip-wraning.tooltip-right i {
        top: 50%;
        margin-top: -6px;
        left: -6px; }
        .fe-tooltip.tooltip-hollow.tooltip-wraning.tooltip-right i:before, .fe-tooltip.tooltip-hollow.tooltip-wraning.tooltip-right i:after {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          vertical-align: middle; }
        .fe-tooltip.tooltip-hollow.tooltip-wraning.tooltip-right i:before {
          border-width: 6px; }
        .fe-tooltip.tooltip-hollow.tooltip-wraning.tooltip-right i:after {
          border-width: 5px; }
        .fe-tooltip.tooltip-hollow.tooltip-wraning.tooltip-right i:before {
          border-right-color: #ec971f;
          border-left-width: 0; }
        .fe-tooltip.tooltip-hollow.tooltip-wraning.tooltip-right i:after {
          margin-left: -5px;
          border-right-color: #fff;
          border-left-width: 0; }
    .fe-tooltip.tooltip-hollow.tooltip-primary {
      border: 1px solid #337ab7;
      color: #337ab7; }
      .fe-tooltip.tooltip-hollow.tooltip-primary.tooltip-top i {
        left: 50%;
        margin-left: -6px;
        bottom: -6px; }
        .fe-tooltip.tooltip-hollow.tooltip-primary.tooltip-top i:before, .fe-tooltip.tooltip-hollow.tooltip-primary.tooltip-top i:after {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          vertical-align: middle; }
        .fe-tooltip.tooltip-hollow.tooltip-primary.tooltip-top i:before {
          border-width: 6px; }
        .fe-tooltip.tooltip-hollow.tooltip-primary.tooltip-top i:after {
          border-width: 5px; }
        .fe-tooltip.tooltip-hollow.tooltip-primary.tooltip-top i:before {
          border-top-color: #337ab7;
          border-bottom-width: 0; }
        .fe-tooltip.tooltip-hollow.tooltip-primary.tooltip-top i:after {
          margin-left: -11px;
          margin-top: -1px;
          border-top-color: #fff;
          border-bottom-width: 0; }
      .fe-tooltip.tooltip-hollow.tooltip-primary.tooltip-bottom i {
        left: 50%;
        margin-left: -6px;
        top: -6px; }
        .fe-tooltip.tooltip-hollow.tooltip-primary.tooltip-bottom i:before, .fe-tooltip.tooltip-hollow.tooltip-primary.tooltip-bottom i:after {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          vertical-align: middle; }
        .fe-tooltip.tooltip-hollow.tooltip-primary.tooltip-bottom i:before {
          border-width: 6px; }
        .fe-tooltip.tooltip-hollow.tooltip-primary.tooltip-bottom i:after {
          border-width: 5px; }
        .fe-tooltip.tooltip-hollow.tooltip-primary.tooltip-bottom i:before {
          border-bottom-color: #337ab7;
          border-top-width: 0; }
        .fe-tooltip.tooltip-hollow.tooltip-primary.tooltip-bottom i:after {
          margin-left: -11px;
          margin-top: 1px;
          border-bottom-color: #fff;
          border-top-width: 0; }
      .fe-tooltip.tooltip-hollow.tooltip-primary.tooltip-left i {
        top: 50%;
        margin-top: -6px;
        right: -5px; }
        .fe-tooltip.tooltip-hollow.tooltip-primary.tooltip-left i:before, .fe-tooltip.tooltip-hollow.tooltip-primary.tooltip-left i:after {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          vertical-align: middle; }
        .fe-tooltip.tooltip-hollow.tooltip-primary.tooltip-left i:before {
          border-width: 6px; }
        .fe-tooltip.tooltip-hollow.tooltip-primary.tooltip-left i:after {
          border-width: 5px; }
        .fe-tooltip.tooltip-hollow.tooltip-primary.tooltip-left i:before {
          border-left-color: #337ab7;
          border-right-width: 0; }
        .fe-tooltip.tooltip-hollow.tooltip-primary.tooltip-left i:after {
          margin-left: -6px;
          border-left-color: #fff;
          border-right-width: 0; }
      .fe-tooltip.tooltip-hollow.tooltip-primary.tooltip-right i {
        top: 50%;
        margin-top: -6px;
        left: -6px; }
        .fe-tooltip.tooltip-hollow.tooltip-primary.tooltip-right i:before, .fe-tooltip.tooltip-hollow.tooltip-primary.tooltip-right i:after {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          vertical-align: middle; }
        .fe-tooltip.tooltip-hollow.tooltip-primary.tooltip-right i:before {
          border-width: 6px; }
        .fe-tooltip.tooltip-hollow.tooltip-primary.tooltip-right i:after {
          border-width: 5px; }
        .fe-tooltip.tooltip-hollow.tooltip-primary.tooltip-right i:before {
          border-right-color: #337ab7;
          border-left-width: 0; }
        .fe-tooltip.tooltip-hollow.tooltip-primary.tooltip-right i:after {
          margin-left: -5px;
          border-right-color: #fff;
          border-left-width: 0; }
    .fe-tooltip.tooltip-hollow.tooltip-info {
      border: 1px solid #5bc0de;
      color: #5bc0de; }
      .fe-tooltip.tooltip-hollow.tooltip-info.tooltip-top i {
        left: 50%;
        margin-left: -6px;
        bottom: -6px; }
        .fe-tooltip.tooltip-hollow.tooltip-info.tooltip-top i:before, .fe-tooltip.tooltip-hollow.tooltip-info.tooltip-top i:after {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          vertical-align: middle; }
        .fe-tooltip.tooltip-hollow.tooltip-info.tooltip-top i:before {
          border-width: 6px; }
        .fe-tooltip.tooltip-hollow.tooltip-info.tooltip-top i:after {
          border-width: 5px; }
        .fe-tooltip.tooltip-hollow.tooltip-info.tooltip-top i:before {
          border-top-color: #5bc0de;
          border-bottom-width: 0; }
        .fe-tooltip.tooltip-hollow.tooltip-info.tooltip-top i:after {
          margin-left: -11px;
          margin-top: -1px;
          border-top-color: #fff;
          border-bottom-width: 0; }
      .fe-tooltip.tooltip-hollow.tooltip-info.tooltip-bottom i {
        left: 50%;
        margin-left: -6px;
        top: -6px; }
        .fe-tooltip.tooltip-hollow.tooltip-info.tooltip-bottom i:before, .fe-tooltip.tooltip-hollow.tooltip-info.tooltip-bottom i:after {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          vertical-align: middle; }
        .fe-tooltip.tooltip-hollow.tooltip-info.tooltip-bottom i:before {
          border-width: 6px; }
        .fe-tooltip.tooltip-hollow.tooltip-info.tooltip-bottom i:after {
          border-width: 5px; }
        .fe-tooltip.tooltip-hollow.tooltip-info.tooltip-bottom i:before {
          border-bottom-color: #5bc0de;
          border-top-width: 0; }
        .fe-tooltip.tooltip-hollow.tooltip-info.tooltip-bottom i:after {
          margin-left: -11px;
          margin-top: 1px;
          border-bottom-color: #fff;
          border-top-width: 0; }
      .fe-tooltip.tooltip-hollow.tooltip-info.tooltip-left i {
        top: 50%;
        margin-top: -6px;
        right: -5px; }
        .fe-tooltip.tooltip-hollow.tooltip-info.tooltip-left i:before, .fe-tooltip.tooltip-hollow.tooltip-info.tooltip-left i:after {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          vertical-align: middle; }
        .fe-tooltip.tooltip-hollow.tooltip-info.tooltip-left i:before {
          border-width: 6px; }
        .fe-tooltip.tooltip-hollow.tooltip-info.tooltip-left i:after {
          border-width: 5px; }
        .fe-tooltip.tooltip-hollow.tooltip-info.tooltip-left i:before {
          border-left-color: #5bc0de;
          border-right-width: 0; }
        .fe-tooltip.tooltip-hollow.tooltip-info.tooltip-left i:after {
          margin-left: -6px;
          border-left-color: #fff;
          border-right-width: 0; }
      .fe-tooltip.tooltip-hollow.tooltip-info.tooltip-right i {
        top: 50%;
        margin-top: -6px;
        left: -6px; }
        .fe-tooltip.tooltip-hollow.tooltip-info.tooltip-right i:before, .fe-tooltip.tooltip-hollow.tooltip-info.tooltip-right i:after {
          display: inline-block;
          content: '';
          width: 0px;
          height: 0px;
          border-color: transparent;
          border-style: solid;
          vertical-align: middle; }
        .fe-tooltip.tooltip-hollow.tooltip-info.tooltip-right i:before {
          border-width: 6px; }
        .fe-tooltip.tooltip-hollow.tooltip-info.tooltip-right i:after {
          border-width: 5px; }
        .fe-tooltip.tooltip-hollow.tooltip-info.tooltip-right i:before {
          border-right-color: #5bc0de;
          border-left-width: 0; }
        .fe-tooltip.tooltip-hollow.tooltip-info.tooltip-right i:after {
          margin-left: -5px;
          border-right-color: #fff;
          border-left-width: 0; }

/*# sourceMappingURL=tooltip.css.map */
