.iui-datepicker {
    font-size: 14px;
    font-family: '微软雅黑, Arial, sans-serif';
    width: 564px;
    height: auto;
    background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
    border-radius: 6px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 49px;
    z-index: 2;
    box-sizing: content-box;
}
.iui-datepicker *, .iui-datepicker *:before, .iui-datepicker *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: content-box;
}

.iui-datepicker .iui-datepicker-top {
    font-family: 'PingFangSC-Regular 微软雅黑';
    width: 564px;
    height: 35px;
    float: left;
    border-bottom: 2px solid #e1e1e1;
}

.iui-datepicker .iui-datepicker-top .iui-datepicker-top-begin,
.iui-datepicker .iui-datepicker-top .iui-datepicker-top-end {
    font-size: 18px;
    color: #333333;
    letter-spacing: 0;
    text-align: center;
    float: left;
    margin-top: 10px;
    width: 178px;
    height: 25px;
}

.iui-datepicker .iui-datepicker-top .iui-datepicker-top-to {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 19px;
    border: 1px solid #e3e3e3;
    width: 6px;
    height: 0px;
    float: left;
}

.iui-datepicker .iui-datepicker-top .iui-datepicker-top-to:after {
    content: " ";
    transform: rotate(45deg);
    border-right: 2px solid #e3e3e3;
    border-top: 2px solid #e3e3e3;
    position: relative;
    width: 6px;
    height: 6px;
    top: -4px;
    left: 1px;
    float: left;
}

.iui-datepicker .iui-datepicker-top .iui-datepicker-top-ok,
.iui-datepicker .iui-datepicker-top .iui-datepicker-top-clear {
    border: 1px solid #349aef;
    border-radius: 100px;
    margin-top: 9px;
    width: 49px;
    height: 24px;
    font-size: 14px;
    line-height: 23px;
    color: #349aef;
    letter-spacing: 0;
    text-align: center;
    float: right;
    margin-left: 10px;
    cursor: pointer;
}

.iui-datepicker .iui-datepicker-top .iui-datepicker-top-ok {
    background: #349aef;
    color: white;
}

.iui-datepicker .iui-datepicker-month {
    width: 252px;
    float: left;
    min-height: 100px;
}

.iui-datepicker .iui-datepicker-month:last-of-type {
    margin-left: 60px;
}

.iui-datepicker .iui-datepicker-month.left {
    float: left;
}

.iui-datepicker .iui-datepicker-month.right {
    float: right;
}

.iui-datepicker .iui-datepicker-month-top {
    width: 240px;
    float: left;
    margin-top: 12px;
    height: 40px;
}

.iui-datepicker .iui-datepicker-month-top select {
    outline: none;
    margin: 0 10px;
    border-radius: 14px;
    height: 28px;
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #333333;
    background-color: #efefef;
    letter-spacing: 0;
    text-align: center;
}

.iui-datepicker .iui-datepicker-month-top option {
    outline: none;
}

.iui-datepicker .iui-datepicker-month-top .iui-datepicker-month-top-right {
    transform: rotate(-225deg);
    float: right;
}

.iui-datepicker .iui-datepicker-month-top .iui-datepicker-month-top-left {
    transform: rotate(-45deg);
    float: left;
}

.iui-datepicker .iui-datepicker-month-top .iui-datepicker-month-top-right,
.iui-datepicker .iui-datepicker-month-top .iui-datepicker-month-top-left {
    margin-top: 8px;
    width: 6px;
    height: 6px;
    border-left: 2px solid #e3e3e3;
    border-top: 2px solid #e3e3e3;
    cursor: pointer;
}

.iui-datepicker .iui-datepicker-month-top .iui-datepicker-month-top-right:hover,
.iui-datepicker .iui-datepicker-month-top .iui-datepicker-month-top-left:hover {
    box-shadow: -2px -2px 2px 0 rgba(0, 0, 0, 0.20);
}

.iui-datepicker .iui-datepicker-month-top .iui-datepicker-month-sel.left {
    float: right;
}

.iui-datepicker .iui-datepicker-month-top .iui-datepicker-month-sel.right {
    float: left;
}

.iui-datepicker .iui-datepicker-days-top {
    width: 252px;
    border-bottom: 2px solid #f0f0f0;
    height: 26px;
    float: left;
}

.iui-datepicker .iui-datepicker-days-top .weektop {
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #999999;
    letter-spacing: 0;
    float: left;
    width: 19px;
    height: 20px;
    text-align: center;
    margin: 5px 8px;
}

.iui-datepicker .iui-datepicker-days .emptyitem {
    width: 35px;
    height: 35px;
    float: left;
}

.iui-datepicker .iui-datepicker-days .dateitem {
    font-family: PingFangSC-Medium;
    font-size: 14px;
    width: 33px;
    height: 33px;
    float: left;
    color: #999999;
    letter-spacing: 0;
    text-align: center;
    line-height: 34px;
    cursor: pointer;
    margin: 1px 0;
    border: 1px solid transparent;
}

.iui-datepicker .iui-datepicker-days .dateitem.seled:nth-child(7n+2),
.iui-datepicker .iui-datepicker-days .dateitem.firstseled {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.iui-datepicker .iui-datepicker-days .dateitem.seled:nth-child(7n+8),
.iui-datepicker .iui-datepicker-days .dateitem.lastseled {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.iui-datepicker .iui-datepicker-days .dateitem.today.seled {
    color: #349aef;
    background: radial-gradient(circle, white 70%, yellow 0%, #349aef 30%);
    border-radius: 0% 0% 0% 0%;
}

.iui-datepicker .iui-datepicker-days .dateitem.today.seled.firstseled {
    border-radius: 50% 0% 0% 50%;
}

.iui-datepicker .iui-datepicker-days .dateitem.today.seled.lastseled {
    border-radius: 0% 50% 50% 0%;
}

.iui-datepicker .iui-datepicker-days .dateitem.today.seled.firstseled.lastseled {
    border-radius: 50%
}


/* .iui-datepicker .iui-datepicker-days div.daycell:nth-child(7n+2),
.iui-datepicker .iui-datepicker-days .dateitem.seled:nth-child(0) {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.iui-datepicker .iui-datepicker-days div.daycell:nth-child(7n+1),
.iui-datepicker .iui-datepicker-days .dateitem.seled:last-child {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
} */

.iui-datepicker .iui-datepicker-days .dateitem.today {
    /*width: 31px;  当前日期在最右侧时会有错行，因此去掉这两个属性
    height: 31px;*/
    border: 1px solid #349aef;
    border-radius: 50%;
    line-height: 32px;
}

.iui-datepicker .iui-datepicker-days .dateitem.seled,
.iui-datepicker .iui-datepicker-days .dateitem:hover {
    color: #fff;
    background-color: #349aef;
}

.iui-datepicker .iui-datepicker-datecontent {
    float: left;
    width: 100%;
    min-height: 200px;
}

.iui-datepicker .error {
    border-bottom: 1px solid #ff0000;
}

.iui-datepicker .iui-datepicker-days .disabled {
    background: #f9f9f9;
    font-size: 14px;
    color: #dadada;
    cursor: no-drop;
}


/*单月模式的hack ====== 开始*/

.iui-datepicker.single-month {
    width: 300px;
    padding: 10px 19px;
}

.single-month .iui-datepicker-top {
    width: 300px;
}

.single-month .iui-datepicker-top .iui-datepicker-top-begin,
.single-month .iui-datepicker-top .iui-datepicker-top-end {
    font-size: 16px;
    width: 96px;
}

.single-month .iui-datepicker-top .iui-datepicker-top-to {
    margin-left: 2px;
    margin-right: 6px;
}

.single-month .iui-datepicker-top .iui-datepicker-top-ok,
.single-month .iui-datepicker-top .iui-datepicker-top-clear {
    font-size: 14px;
    width: 36px;
    margin-left: 3px;
}

.iui-datepicker.single-month .iui-datepicker-month {
    margin-left: 30px;
}

.iui-datepicker .timercontain {
    width: 100%;
    height: auto;
    float: left;
    font-size: 24px;
}

.iui-datepicker .timercontain .timerspit {
    min-width: 45%;
    height: auto;
    float: left;
    text-align: left;
}

.iui-datepicker .timercontain .timerspit select {
    width: 50px;
    height: 36px;
    border: none;
    font-size: 24px;
    margin: 0 10px;
}


/*单月模式的hack ============结束*/


/* 月份现在模式的hack============开始*/

.iui-datepicker.month-sel {
    height: 80px;
}


/*单月模式的hack ============结束*/


/* 单月模式下时间显示的hack============开始*/

.iui-datepicker.single-month.time-sel .iui-datepicker-top .iui-datepicker-top-begin {
    width: 178px;
}

.iui-datepicker.single-month.time-sel .timerspit {
    margin-left: 30px;
}


/*单月模式的hack ============结束*/