@charset "utf-8";
@import '../../../src/scss/common/common.scss';
//组件用盒模型，避免打乱使用者结构
.switch-sort {
    @extend %box-sizing;
}

//排序
.switch-sort {
    position: relative;
    padding-right: 20px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    .showtext {
        display: inline-block;
        width: 100%;
        height: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        overflow: hidden;
        font-size: 15px;
        cursor: inherit;
        text-align: center;
        background: #fff;
        border: none;
    }
}

//排序图标
.switch-icon:after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -9px;
    right: 10px;
    width: 6px;
    height: 19.2px;
}

.switch-icon-up:after {
    background: url("../img/switch_up.png") no-repeat;
    background-size: contain;
}

.switch-icon-down:after {
    background: url("../img/switch_down.png") no-repeat;
    background-size: contain;
}