@import '../../src/scss/reset/reset.scss';
body{
  padding: 40px;
}
h1 {
  font-size: 20px;
  font-weight: bolder;
}

h2 {
  font-size: 16px;
  font-weight: bolder;
}
.type-demo{
  position: relative;
  height: 400px;
  margin-top: 200px;
}
.demo{
  >span{
    display: inline-block;
    margin: 20px 160px;
  }
}
